version: '3.8'

services:
  vllm-server-chinda-qwen3-4b:
    image: vllm/vllm-openai:latest
    shm_size: 64g
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0', '1']
              capabilities: [gpu]
    volumes:
      - /home/saiuser/disk6/ms-swift-merged/chinda-qwen3-4b-20250527-37_38-sft:/models
    ports:
      - "8804:8000"  # Map internal port 8000 to external 8804
    environment:
      - NCCL_IGNORE_DISABLED_P2P=1
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://0.0.0.0:8000/v1/models" ]
      interval: 30s
      timeout: 5s
      retries: 20
    command:
      - --model=/models
      - --tensor-parallel-size=2
      - --served-model-name=chinda-qwen3-4b
      - --trust-remote-code
      - --max-model-len=32768
      - --gpu-memory-utilization=0.90
    restart: unless-stopped
